name: CI

on: [push]

jobs:
  lint-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: npm install
        run: npm ci
      - name: npm run build
        run: npm run build
      - name: npm run lint
        run: npm run lint
        env:
          CI: true
